@page "/filemakerreferences/edit"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using FSIWebApp2.Data.Models
@inject IDbContextFactory<FSIWebApp2.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>FileMakerReference</h2>
<hr />
@if (FileMakerReference is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="FileMakerReference" OnValidSubmit="UpdateFileMakerReference" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="FileMakerReference.Id" value="@FileMakerReference.Id" />
                <div class="mb-3">
                    <label for="filemakername" class="form-label">FileMakerName:</label>
                    <InputText id="filemakername" @bind-Value="FileMakerReference.FileMakerName" class="form-control" />
                    <ValidationMessage For="() => FileMakerReference.FileMakerName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="newfsiname" class="form-label">NewFsiName:</label>
                    <InputText id="newfsiname" @bind-Value="FileMakerReference.NewFsiName" class="form-control" />
                    <ValidationMessage For="() => FileMakerReference.NewFsiName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="sqldatatype" class="form-label">SQL Data Type:</label>
                    <InputText id="sqldatatype" @bind-Value="FileMakerReference.SQLDataType" class="form-control" />
                    <ValidationMessage For="() => FileMakerReference.SQLDataType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="genericdatatype" class="form-label">Generic Data Type:</label>
                    <InputText id="genericdatatype" @bind-Value="FileMakerReference.GenericDataType" class="form-control" />
                    <ValidationMessage For="() => FileMakerReference.GenericDataType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="key" class="form-label">Key:</label>
                    <InputText id="key" @bind-Value="FileMakerReference.Key" class="form-control" />
                    <ValidationMessage For="() => FileMakerReference.Key" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="nullable" class="form-label">Nullable:</label>
                    <InputCheckbox id="nullable" @bind-Value="FileMakerReference.Nullable" class="form-check-input" />
                    <ValidationMessage For="() => FileMakerReference.Nullable" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="inuse" class="form-label">InUse:</label>
                    <InputCheckbox id="inuse" @bind-Value="FileMakerReference.InUse" class="form-check-input" />
                    <ValidationMessage For="() => FileMakerReference.InUse" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/filemakerreferences">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private FileMakerReference? FileMakerReference { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        FileMakerReference ??= await context.FileMakerReference.FirstOrDefaultAsync(m => m.Id == Id);

        if (FileMakerReference is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateFileMakerReference()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(FileMakerReference!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FileMakerReferenceExists(FileMakerReference!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/filemakerreferences");
    }

    private bool FileMakerReferenceExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.FileMakerReference.Any(e => e.Id == id);
    }
}
